GCP_PROJECT_ID={your-gcp-project-id}
GCS_BUCKET={your-gcs-bucket-name}
BIGQUERY_DATASET={your-bigquery-dataset-name}
HISTORY_START_DATE=2026-03-01
HISTORY_END_DATE=2026-03-26
HISTORICAL_RUN_ONCE=false
PRODUCER_RESTART_POLICY=unless-stopped
